* {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.title {
  text-align: center;
  height: 80px;
  border-bottom: 2px solid rgb(88, 86, 86);
  line-height: 80px;
}

.question-card {
  position: relative;
  width: 360px;
  height: 200px;
  border: solid 2px rgb(88, 86, 86);
  margin-top: 30px;
  margin-left: 15px;
}

.bookmark {
  position: absolute;
  top: -22px;
  right: 10px;
  z-index: 1;
  background-color: white;
  height: 48px;
}

.bookmark .material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 200, "opsz" 20;
  font-size: 48px;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  position: absolute;
  top: 10%;
  left: 60px;
}

.question-text {
  font-size: 20px;
  font-weight: normal;
}

.show-answer {
  font-size: 18px;
  font-weight: normal;
  margin-top: 10%;
  border: solid 2px rgb(88, 86, 86);
  padding: 10px 20px;
}

.question-categories {
  display: flex;
  position: absolute;
  bottom: 10px;
}
.categories {
  font-size: 12px;
  font-weight: 100;
  border: solid 1px rgb(88, 86, 86);
  border-radius: 5px;
  padding: 3px 5px;
  margin-left: 10px;
  background-color: lightgrey;
}
