.question-card {
  position: relative;
  padding: 1rem;
  margin: 1.5rem 1rem 1rem 1rem;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px 1px #bbbbbb;
  border-radius: 5px;
  height: 240px;
}

.question-card__question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.question-card__question__text,
.question-card__answer {
  font-size: 18px;
  font-weight: 100;
}

.question-card__answer {
  margin: 1rem;
}

.question-card__question__show-answer {
  font-size: 18px;
  font-weight: normal;
  margin-top: 10%;
  border: none;
  padding: 10px 20px;
  background-color: #357b40;
  color: #ffffff;
  border-radius: 15px;
}

.question-card__categories {
  display: flex;
  position: absolute;
  bottom: 10px;
}
.question-card__categories__item {
  font-size: 12px;
  font-weight: 100;
  border-radius: 5px;
  padding: 3px 5px;
  margin-left: 10px;
  background-color: #dc2969;
  color: #ffffff;
}

.hidden {
  display: none;
}
